body {
    font-family: 'Open Sans', arial, sans-serif;

    margin:0;
    background-color:#e0e0e0;
}

header {
    background-color: #4a76a8;
    width: 100%;
    text-align: center;
    padding: 10px 0px 10px 0px;
    box-shadow: black 0px 0px 20px 0px;
}

header h2, header h5 {
    color: #e3e9f1;
    font-weight:600;
}

header h2 {
    margin: 0px;
    font-size:35px;
}

header h5 {
    margin: 10px 0px 0px 0px;
    font-size:20px;
}



.main_container {
    width: 90%;
    margin: auto;
    margin-top: 40px;
    text-align: -webkit-center;
}

.block {
    max-width: 250px;
    background: #6b9ed8;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    box-shadow: #194b80 0px 0px 20px 0px;
    margin: 20px;
    display: inline-grid;
}

.block span {
    color: white;
    font-size:1.5em;
}

.block img{
    max-width:90%;
    border-radius: 10px;
}

@media (min-width:650px) {
    .block {
        height:492px;
    }
}